* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    background: #1f293c;
}

#canv {
    background: #2a3953;
    border-radius: 3px;
}

#powerSpan {
    position: absolute;
    top: 20px;
    left: 20px;
    color: #00ffff;
    font-weight: bold;
    font-size: 20px;
    transition: .3s;
}

#loseSpan {
    display: none;
    font-size: 30px;
    color: #000;
    padding: 10px 20px;
    background: #e0cd1e;
    border-radius: 1px;
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    text-align: center;
    /* color: rgb(66, 88, 112); */
}