* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    background: #1f293c;
}

#canv {
    background: #2a3953;
    border-radius: 3px;
}

.text {
    position: fixed;
    color: #00ffff;
    font-weight: bold;
    font-size: 20px;
    transition: .3s;
}

.stats,
.info {
    position: fixed;
    color: #00ffff;
    font-weight: bold;
    font-size: 20px;
    display: flex;
    flex-direction: column;
}

.stats {
    right: 20px;
    top: 20px;
    text-align: right;
}

.info {
    left: 20px;
    bottom: 20px;
}

.stats .text,
.info .text {
    position: unset;
}

.stats .text:not(:first-child),
.info .text:not(:first-child) {
    margin-top: 15px;
}

#loseSpan {
    display: none;
    font-size: 30px;
    color: #000;
    padding: 10px 20px;
    background: #d3c335;
    border-radius: 1px;
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 111;
    /* color: rgb(66, 88, 112); */
}

#recordList {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    list-style: none;
    color: #00ffff;
    transition: 2s;
}

#recordList li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    font-size: 20px;
    margin-top: 15px;
}

#recordList.active {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #0009;
}